<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EasyCheck
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">Bienvenido a nuestra APP</ion-title>
  </ion-toolbar>
</ion-content>

<div>
  <ion-button expand="block" routerLink="/home">Ingresa</ion-button> 
  <ion-button expand="block"  routerLink="/homere">Registrate</ion-button>
</div>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title>App desarrollada por: Matías Oliva</ion-title>
  </ion-toolbar>
</ion-footer>