<!-- HEADER -->
<ion-header class="ion-text-center" color="warning">
  <ion-toolbar color="warning">
    <ion-title size="large">Recuperar cuenta por codigo</ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content [fullscreen]="true" color="dark" >

  <ion-card>
    <ion-card-header color="dark">
      <ion-title>Codigo </ion-title>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="assets/icon/candado.png" />

    <ion-card-content>
      <form [formGroup]="formularioRecuperarCuentaCode" >
        <ion-item color="light">
          <ion-label position="stacked">Ingrese el codigo enviado a su correo</ion-label>
          <ion-input
            formControlName="codigo"
            placeholder="Ingrese el codigo para poder cambiar su contraseña"
            
          ></ion-input>
        </ion-item>
        <ion-button (click)="cambiarClave()" expand="full" color="success">Ingresar</ion-button>
      </form>
    </ion-card-content>

  </ion-card>
 
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/home">Back</ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button color="primary">Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


















 <!-- <ion-card >
    
  </ion-card> -->