<!-- HEADER -->
<ion-header [translucent]="true" class="ion-text-center" color="warning">
  <ion-toolbar color="warning">
    <ion-title size="large">Bienvenido Alumnno</ion-title>  
  </ion-toolbar>
</ion-header>

<!-- BODY --> 
<ion-content color="dark">
  <form [formGroup]="formularioRecuperarCuenta" color="dark">  
    <ion-item color="dark">
      <ion-input        
        formControlName="mail"
        label="Ingresa tu correo"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder="Ingresa correo asociado a tu cuenta"
        color="dark"
      >
      </ion-input>
    </ion-item>

    <link rel="stylesheet" color="dark"><ion-button color="success" routerLink="/formularioRecuperarCuentaCode">Ingresar</ion-button>
  </form>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button color ="primary" routerLink="/home">Back</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar</ion-title>
    <ion-buttons slot="end">
      <ion-button color ="primary">Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
