<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenidos a clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos a Clases</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="display: flex; flex-direction: column; align-items: center;">
    <img src="assets/img/qrImage.jpg" alt="QR Image Asistencia" style="max-width: 50%; height: auto;"/>
    <ion-card-header>
      <ion-card-subtitle>Escanea el QR para registrar tu asistencia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="display: flex; flex-direction: column; align-items: center;">
      <p>Asignatura: Programacion de Aplicaciones Móviles<p>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10"><b>Nombre Alumno </b></ion-col>
          <ion-col size-md="10"><b>Rut</b></ion-col>
          <ion-col size-md="4"><b>Asistencia</b></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10">Joaquin Vicente Nuñez Peralta </ion-col>
          <ion-col size-md="10">20.356.987-k</ion-col>
          <ion-col size-md="4">
              <ion-item>
                <ion-checkbox slot="start"></ion-checkbox>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10">Josefina del Pilar Ramirez Obregon</ion-col>
          <ion-col size-md="10">18.623.597-9</ion-col>
          <ion-col size-md="4">
            <ion-item>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10">Pablo Ariel Santana Araya</ion-col>
          <ion-col size-md="10">20.568.762-k</ion-col>
          <ion-col size-md="4">
            <ion-item>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10">Miguel Andrés Lillo Guzman</ion-col>
          <ion-col size-md="10">19.369.953-2</ion-col>
          <ion-col size-md="4">
            <ion-item>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>  
</ion-content>
