<!-- HEADER -->
<ion-header [translucent]="true" color="warning">
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title>Bienvenido/a {{ profesor?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content [fullscreen]="true" color="dark">
  
  <ion-card style="display: flex; flex-direction: column; align-items: center;" >
    <img src="assets/img/qrImage.jpg" alt="QR Image Asistencia" style="max-width: 50%; height: auto;"/>
    <ion-card-header>
      <ion-card-subtitle>Escanea el QR para registrar tu asistencia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="display: flex; flex-direction: column; align-items: center;" >
      <p>Asignatura: Programacion de Aplicaciones Móviles<p>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10"><b>Nombre Alumno </b></ion-col>
          <ion-col size-md="10"><b>Rut</b></ion-col>
          <ion-col size-md="4"><b>Asistencia</b></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10">Joaquin Vicente Nuñez Peralta </ion-col>
          <ion-col size-md="10">20.356.987-k</ion-col>
          <ion-col size-md="4">
              <ion-item >
                <ion-checkbox color="success" slot="start"></ion-checkbox>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size-md="10">Josefina del Pilar Ramirez Obregon</ion-col>
          <ion-col size-md="10">18.623.597-9</ion-col>
          <ion-col size-md="4">
            <ion-item >
              <ion-checkbox color="success" slot="start"></ion-checkbox>
            </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-button color="success">Generar codigo QR</ion-button>

    </ion-card-content>
  </ion-card>  
</ion-content>


<!-- FOOTER -->
<ion-footer color="warning">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button color ="primary" routerLink="/login-profesor">Back</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar</ion-title>
    <ion-buttons slot="end">
      <ion-button color ="primary">Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
