
<!-- HEADER -->
<ion-header [translucent]="true" class="ion-text-center"> 
  <ion-toolbar>
    <ion-title size="large">Bienvenido Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->

<form [formGroup]="formularioLoginProfesor" color="dark">  
  <ion-item>
    <ion-input
      id="inputUsuario"
      formControlName="user"
      label="Usuario"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      placeholder="Ingresa un usuario valido"
    >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      id="inputContraseña"
      formControlName="password"
      label="Contraseña"
      labelPlacement="stacked"
      type="password"
      placeholder="Ingresa contraseña"
    >
    </ion-input>
  </ion-item>

  <link rel="stylesheet" routerLink="/main-profesor"><ion-button (click)="ingresar()" color="success">Ingresar</ion-button>

  <ion-text color ="primary" class="ion-margin-top">
    <h6 routerLink="/recuperar-cuenta-profesor">Recupera tu cuenta</h6>
  </ion-text>
</form>


<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color ="primary" routerLink="/home">Back</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar</ion-title>
    <ion-buttons slot="end">
      <ion-button color ="primary">Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


