<!-- HEADER -->
<ion-header [translucent]="true" class="ion-text-center" color="warning">
  <ion-toolbar color="warning">
    <ion-title size="large">Bienvenido NombreProfesor</ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content color="dark">
  <ion-list color="dark">  
    <ion-item color="dark">
      <ion-input
        label="Ingrese su correo"
        labelPlacement="stacked"
        [clearOnEdit]="true"
        placeholder="Ingresa correo asociado a tu cuenta"
      >
      </ion-input>
    </ion-item>

    <link rel="stylesheet" routerLink="/main-student"><ion-button color="success">Ingresar</ion-button>
  </ion-list>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-button color ="primary" routerLink="/home">Back</ion-button>
    </ion-buttons>

    <ion-title>Seleccionar</ion-title>

    <ion-buttons slot="end">
      <ion-button color ="primary">Help</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>

