<!-- HEADER -->
<ion-header [translucent]="true" class="ion-text-center" color="warning">
  <ion-toolbar color="warning">
    <ion-title size="large">Bienvenido Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content color="dark">
  <form [formGroup]="formularioNewPass" color="dark">
    <ion-item color="dark">
      <ion-label position="stacked">Ingrese su nueva Contraseña</ion-label>
      <ion-input
        formControlName="newpassword"
        placeholder="Proporcione una contraseña segura"
        color="success"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" color="success">Cambiar Contraseña</ion-button>
  </form>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/home">Back</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
