<!-- HEADER -->
<ion-header [translucent]="true" color="warning">
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title>Bienvenido/a Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content [fullscreen]="true" color="dark">
  <ion-card>
    <ion-card-header color="dark">
      <ion-card-title class="ion-text-center">Activa la camara</ion-card-title>
    </ion-card-header>
    </ion-card>
  <ion-card style="display: flex; flex-direction: column; align-items: center;" color="warning">
    <ion-icon name="camera" size="large" color="primary"></ion-icon>    
  </ion-card>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button color ="primary" routerLink="/login-student">Back</ion-button>
    </ion-buttons>
    <ion-title>Seleccionar</ion-title>
    <ion-buttons slot="end">
      <ion-button color ="primary">Help</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>



