<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      EasyCheck
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content [fullscreen]="true" color="dark" class="ion-text-center">
    <ion-toolbar color="dark">
      <ion-title size="large">Registrate a nuestra APP</ion-title>
    </ion-toolbar>
</ion-content>

<div color="dark">
  <ion-button expand="block" routerLink="/registro-estudiante">Estudiante</ion-button> 
  <ion-button expand="block"  routerLink="/registro-profesor">Profesor</ion-button>
</div>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>App desarrollada por: Equipo DUOC</ion-title>
  </ion-toolbar>
</ion-footer>
