
<!-- HEADER -->
<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      EasyCheck
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- BODY -->

<ion-content [fullscreen]="true" color="dark" class="ion-text-center">
  <ion-card>
    <ion-card-header color="dark">
      <ion-card-title>Bienvenido a Easy Check</ion-card-title>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="assets/icon/universidad.png" />

    <ion-button expand="block" routerLink="/home2">Ingresa</ion-button> 
    <!-- Agregar alerta guardado exitosamente -->
    <ion-button expand="block"  routerLink="/homere">Registrate</ion-button>

  </ion-card>
</ion-content>

<div color="dark">
  
</div>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>App desarrollada por: Equipo DUOC</ion-title>
  </ion-toolbar>
</ion-footer>